<ul class="nav nav-pills">
    <li class="nav-item">
    <a class="nav-link active" routerLink="/">UltraTrch</a>
    </li> 
    <li class="nav-item">
        <a class="nav-link" routerLink="property/propertys">Producr</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="property/addproperty">Add Property</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="user/login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="user/signup">SignUp</a>
    </li>
</ul>
