<div class="container w-50 pt-5">
    <div class="text-center">
        <h1>Add Product</h1>
    </div>
    <form [formGroup]="addproductform" (ngSubmit)="productdata()">
        <div class="form-group" >
            <label>Product Type</label>
            <select class="form-control" (input)="product_type(datap.value)" #datap formControlName="product_type">
                <option value="Cement">Cement</option>
                <option value="Steel">Steel</option>
            </select>
        </div>
        <div class="form-group">
            <label>Brand Name</label>
            <select class="form-control" formControlName="brand_name">
                <option value="UltraTech">UltraTech</option>
            </select>
        </div>
        <div class="form-group">
            <label>Product Name</label>
            <select class="form-control" formControlName="product_name">
                <option *ngIf="UWPS_value" value="UltraTech Weather Plus Cement">UltraTech Weather Plus Cement</option>
                <option *ngIf="KNXT_value" value="Kamdhenu NXT">Kamdhenu NXT</option>
            </select>
        </div>
        <div class="form-group" *ngIf="size">
            <label>Size</label>
            <select class="form-control" formControlName="size">
                <option value="8">8mm</option>
                <option value="10">10mm</option>
                <option value="12">12mm</option>
                <option value="16">16mm</option>
                <option value="20">20mm</option>
                <option value="25">25mm</option>
                <option value="32">32mm</option>
            </select>
        </div>
        <div class="form-group" *ngIf="quantity">
            <label>Quantity</label>
            <input type="number" formControlName="quantity" class="form-control" placeholder="Enter Quantity">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Price</label>
            <input type="number" formControlName="price" class="form-control" placeholder="Enter Price" #price (keypress)="onkeydown(price.value)">
        </div>
        <hr>
        <div class="container">  <!-- formArrayName="images" -->
            <h1>Images</h1>
            <input type="file" multiple (change)="onFileChange($event)" class="form-control"
                placeholder="Enter Your property Price"><!-- multiple -->
        </div>
        <hr>
        <div class="text-center">
            <button type="submit" class="btn btn-primary m-3" >Login</button> <!-- [disabled]='!addproductform.valid' -->
        </div>
    </form>
</div>
<input type="number" name="" maxlength="10" id="">